---
interface Props {
  title: string;
  clave: string;
  href: string;
  descarga: string;
}

const { href, title, clave, descarga } = Astro.props;
---


  <span>
   <a href={href}>
      <div class="hexagon -small d-lg-none" style='border-color: rgb(145, 82, 168); background-image: url("https://potenciaback.vincoorbisdev.com/static/icons/primary-build-your-math.png");'>
         <div class="left-side" style="border-color: rgb(145, 82, 168);"> </div>
         <div class="right-side" style="border-color: rgb(145, 82, 168);"></div>
         <label class="name">{title}</label>
         <p class="subtitle">
            {clave}
         </p>
      </div>


      <div class="hexagon d-none d-lg-block" style='border-color: rgb(145, 82, 168); background-image: url("https://potenciaback.vincoorbisdev.com/static/icons/primary-build-your-math.png");'>
         <div class="left-side" style="border-color: rgb(145, 82, 168);"></div>
         <div  class="right-side" style="border-color: rgb(145, 82, 168);"> </div>
         <label class="name">{title}</label>
         <p class="subtitle">
            {clave}
         </p>
      </div>
   </a>
   <div style="text-align: center;">
      <button data-value="225" type="button" style="background: transparent; border: 0px; cursor: pointer; font-size: 14px; margin-top: 35px; margin-bottom: 10px;" >
         <i class="fa fa-cloud-download" aria-hidden="true"></i>Descargar
      </button>
   </div>
</span>
