---
import Layout from "../../../layouts/Layout.astro";
import Titles from "../../../components/Titles.astro";
import Activities from "../../../components/Activities.astro";
import ActividadesService from "../../../dominio/Actividades/services/Actividades.service";
import ActividadesLegacyRepository from "../../../dominio/Actividades/repository/ActividadesLegacy.repository";
import ClassroomService from "../../../dominio/Classrooms/services/Classroom.service";
import ClassroomLegacyRepository from "../../../dominio/Classrooms/repository/ClassroomLegacy.repository";
import obtenerCercanosArreglo from '../../../Utils/ObtenerCercanosArreglo';

const idSalon = Astro.params["idSalon"];

const actividadesService = new ActividadesService(new ActividadesLegacyRepository());

const actividades = await actividadesService.getActividades(idSalon);


function chunkArray(arr: any[], chunkSize: number) {
  const result = [];
  for (let i = 0; i < arr.length; i += chunkSize) {
    result.push(arr.slice(i, i + chunkSize));
  }
  return result;
}


const actividadesGrouped = chunkArray(actividades.results, 3);
const classRoomService = new ClassroomService(new ClassroomLegacyRepository());
const classrooms = await classRoomService.getClassrooms();
const idsClassrooms = classrooms.map(clas => clas.id);
const valoresCercanos = obtenerCercanosArreglo(idsClassrooms, Number(idSalon));

const urlSiguiente = valoresCercanos.siguiente ? `/salon/${valoresCercanos.siguiente}` : `/salon/${idSalon}`
const urlAnterior = valoresCercanos.anterior ? `/salon/${valoresCercanos.anterior}` : `/salon/${idSalon}`

---
<Layout title="Construye tus matemáticas">
  <Titles 
    title={actividades.results[0].sequenceName}
    siguiente={urlSiguiente}
    anterior={urlAnterior}
  />

  <div>
    <div class="path-wrapper">
      {actividadesGrouped.map((grupo, index) => (
        <>
          <div class="path-row" style="color: rgb(145, 82, 168);">
            {grupo.map((actividad) => (
              <Activities 
                title={actividad.title} 
                href={`${idSalon}/ficha-docente/${actividad.id}`} 
                img={actividad.fileSmallThumbnail.replace(/^https:\/\//, 'http://') || "https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image"} 
              />
            ))}
          </div>
          {index < actividadesGrouped.length - 1 && (
            <div class="path-turn d-none d-lg-flex" style="background: rgb(145, 82, 168); border-color: rgb(145, 82, 168);"></div>
          )}
        </>
      ))}
    </div>
  </div>
</Layout>

